body {
    margin: 0;
}

.div1, .div2 {
    height: 100vh;
}

.div1 {
    background-color: pink;
}

/* .div2 {
    background-color: salmon;
} */

.square {
    height: 20vh;
    width: 150px;
    background-color: fuchsia;
}
.square2 {
    height: 20vh;
    width: 150px;
    background-color: green;
}


.red {
    background-color: red;
}